.footer {
    background-color: #222;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.social_list {
    list-style: none;
    display: flex;
    justify-content: center;   
}

.social_list li {
    margin: 0 1em;
}

.social_list li a:hover {
    color: #ffbb33;   
}

.social_list svg {
    font-size: 2em;
    cursor: pointer;
}

.copy_right span{
    font-weight: bold;
    color: #ffbb33;
}